* {
    box-sizing: border-box;
}

h5,
p {
    margin: 0 !important;
}
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0 -20px;
}
    .recipe-container .card {
        margin-bottom: 35px;
    }
    .header-holder {
        margin-bottom: 10px;
    }
    .sub-header {
        font-size: 12px;
        color: #ced4da;
    }
.form-group {
    position: relative;
    margin-bottom: 30px;
}
    .input-message {
        position: absolute;
        display: block;
        width: 100%;
        top: 100%;
    }
    .form-control.is-invalid ~ .input-message {
        color: #dc3545;
    }
    .form-control.is-valid ~ .input-message {
        color: #28a745;
    }
    .btn-card {
        margin-top: 20px;
        margin-bottom: 5px;
    }